/* Breakpoints */

$small: 440px; /*-------- Mobile devices*/
$s-medium: 570px; /*-------- Tablet devices*/
$medium: 768px;
$large: 960px;
$x-large: 1060px; /*-------- Desktop devices*/
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;

/* Colors - Static*/
$deep-purple: #1F0D3F99;
$purple: #1e1235;
$purple-secundary: #6429CD;
$purple-tertiary: #BB65FF;
$coconut: #F6F7FC;
$white: #FFFFFF;
$silver: #d5d5d5;
$gray: rgba(157, 157, 161, 0.3);
$gray-secundary: rgba(157, 157, 161, 0.6);
$faded-gray: #A0A0A0;
$dove-gray: #6C6F84;
$dark-gray: #292929;

