@import "_mixins";
@import "_variables";

.a-input {
  width: 292px;
  height: 32px;
  color: white;
  border-radius: 100px;
  padding: 1px 10px;
  border: 1px solid #bb65ff;
  background-color: rgba(100, 41, 205, 0.08);
  outline: none;
  font-size: 14px;

  &:focus {
    border: 1px solid #9120e7;
  }

  @include media-query($medium) {
    padding: 5px 16px;
    font-size: 14px;
    width: 210px;
    height: 30px;
  }
}
