@import "_variables";

.a-user {
    width: fit-content;
    text-align: center;
    padding: 5px;

  &-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40.81px;
    width: 40.81px;
    border-radius: 50%;
    background-color: $purple-secundary;
    text-align: center;
    font-size: 14px;

    &__initials {
      color: $purple;
      font-weight: 700;
    }
  }

  &-name {
    margin: 3px 0;
    color: $white;
    font-weight: 400;
  }
}

.small {
  height: 26.24px;
  width: 26.24px;
  font-size: 14px;
}


