
@import '_mixins';
@import '_variables';

.a-button {
  display: inline-block;
  padding: 7px 8px;
  background-color: $coconut;
  color: $purple;
  font-size: 16px;
  border: none;
  border-radius: 52px;
  width: 148px;
  height: 35px;
  cursor: pointer;
  user-select: none;

  &:disabled  {
    background-color: $gray;
    cursor: not-allowed;
    color: $gray-secundary;
  }

  @include media-query($medium) {
    padding: 8px 16px;
    font-size: 14px;
    width: 120px;
    height: 30px;
  }
}
